.layout {
    height: 100vh;
    // background: linear-gradient(#1b72f3, #ffffff);
    background: url('@/assets/images/login-bg.jpg') no-repeat center;
    background-size: cover;

    &-content {
        width: 79vw;
        margin: 0 auto;
    }
}