.join {
    font-size: 16px;
    height: 100vh;
    &-steps-content {
        padding: 100px 10px 50px;
        text-align: center;
    }

    &-title {
        padding: 10px 0;
        width: 90vw;
        margin: 0 auto;
    }

    &-content {
        padding: 0 20px 20px;
        width: 90vw;
        margin: 0 auto;
        &-row {
            border-bottom: thin dashed #666666;
            position: relative;

            &>span {
                position: absolute;
                top: 35px;
                left: 15px;
                transition-duration: 0.1s;

                &.active {
                    top: 5px;
                    color: #333;
                }
            }

            &>button {
                position: absolute;
                right: 15px;
                top: 25px;
                border-radius: 20px;
                background: none;
                border: thin solid #efefef;
                padding: 5px 20px;
                cursor: pointer;

                &:hover {
                    color: #1989fa;
                }
            }

            &>input {
                background: none;
                border: none;
                width: calc(100% - 30px);
                padding: 35px 15px 15px;
                color: #000;

                &:focus {
                    &+span {
                        top: 5px;
                        color: #333;
                    }
                }
            }
        }
    }

    &-btns {
        text-align: center;
        padding: 20px 0;

        &>button {
            border-radius: 20px;
            background: none;
            border: thin solid #efefef;
            padding: 5px 20px;
            cursor: pointer;
            margin: 0 10px;

            &:hover {
                color: #1989fa;
            }
        }
    }

    &-result {
        padding: 100px 0;
        text-align: center;
        color: #9f9;
    }
}