.item {

    &>.area-item {
        /* 火狐 */
        -moz-user-select: none;
        /* Safari 和 欧朋 */
        -webkit-user-select: none;
        /* IE10+ and Edge */
        -ms-user-select: none;
        /* Standard syntax 标准语法(谷歌) */
        user-select: none;
        position: absolute;
        background-color: #f07400;
        height: 10px;
        width:  10px;
        z-index: 11;

        &:nth-child(2) {
            top: -5px;
            left: -5px;
            cursor: nwse-resize;
        }

        &:nth-child(3) {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            cursor: ns-resize;
        }

        &:nth-child(4) {
            top: -5px;
            right: -5px;
            cursor: ne-resize;
        }

        &:nth-child(5) {
            top: 50%;
            right: -5px;
            transform: translateY(-50%);
            cursor: e-resize;
        }

        &:nth-child(6) {
            bottom: -5px;
            right: -5px;
            cursor: nwse-resize;
        }

        &:nth-child(7) {
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            cursor: ns-resize;
        }

        &:nth-child(8) {
            bottom: -5px;
            left: -5px;
            cursor: ne-resize;
        }

        &:nth-child(9) {
            top: 50%;
            left: -5px;
            transform: translateY(-50%);
            cursor: e-resize;
        }
    }

    &.focused {
        z-index: 100 !important;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            border: 2px dashed #f07400;
        }
    }

}