.module {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 256px;
    z-index: 999;
    background-color: #d6e4f0;
    box-shadow: 0 0 4px #dcdcdc;

    &>.item {
        background: #eee;
        border: thin solid #dcdcdc;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
    }
}