.module {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 256px;
    z-index: 999;
    background-color: #d6e4f0;
    box-shadow: 0 0 4px #dcdcdc;
    text-align: center;

    &>.item {
        background: #eee;
        border: thin solid #dcdcdc;
        padding: 5px 0;
        margin: 5px 0;
    }
}