.detail {
    position: fixed;
    right: 0;
    top: 60px;
    bottom: 0;
    width: 256px;
    z-index: 999;
    background-color: #d6e4f0;
    box-shadow: 0 0 4px #dcdcdc;

    &-tabs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: thin solid #f6f6f6;

        &>button {
            font-size: 16px;
            background: none;
            flex: 1 1 auto;
            border: none;
            line-height: 35px;
            color: #163172;
            &.active{
                background-color: #f6f6f6;
                color: #1e56a0;
            }
            &:nth-child(2){
                border-left: thin solid #f6f6f6;
                border-right: thin solid #f6f6f6;
            }
        }
    }
}