.pack {
    position: absolute;
    cursor: grab;
    z-index: inherit;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: none !important;
    padding: 10px;
    &.selected {
        border: thin dashed #1e56a0;
    }
}