button.btn {
    width: 90px;
    height: 25px;
    line-height: 20px;
    position: absolute;
    border-radius: 20px;
    color: #41de0c;
    top: 19px;
    right: 50px;
    font-size: 12px !important;
    background: none;
    border: thin solid #eac9c9;
}

.user{
    width: 120px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    color: #41de0c;
    text-shadow: 0 0 4px #41de0c;
    top: 15px;
    right: 50px;
    & > img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
        border: thin solid #ffffff;
        box-shadow: 0 0 4px #ffffff;
    }
    & > small{
        font-size: 10px;
        color: #b7e4ed;
        margin-left: 5px;
        cursor: pointer;
        &:hover{
            color: #841d3f;
        }
    }
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    &-content {
        width: 320px;
        border-radius: 4px;
        background: var(--lcp-login-bg-color);
        padding: 10px;

        &>.title {
            text-align: center;
            padding: 10px;
            color: var(--lcp-n-color);

            &>span {
                font-size: 16px;
                cursor: pointer;

                &.active {
                    font-size: 16px;
                    color: #ffffff;
                }
            }
        }

        &>.content {
            border-radius: 4px;
            border: thin solid rgba(0, 0, 255, 0.1);
            overflow: hidden;

            &>.row {
                font-size: 12px;
                padding: 10px;
                position: relative;
                color: var(--lcp-n-color);
                display: flex;
                align-items: center;
                justify-content: space-around;

                &:nth-last-child(1){
                    border: none;
                }

                &.btns {
                    text-align: center;
                }

                &>label {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50px;
                    flex: 0 0 auto;
                }

                &>input {
                    background: var(--lcp-n-bg-color);
                    border: none;
                    border-radius: 4px;
                    line-height: 40px;
                    padding: 0 15px;
                    flex: 1 0 auto;
                }

                &>button {
                    background: none;
                    padding: 5px 30px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    color: var(--lcp-cancel-color);
                    &:hover{
                        background: var( --lcp-active-bg-color);
                    }

                    &.get_code {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        color: var(--lcp-n-color);

                        &:disabled {
                            opacity: 0.75;
                        }
                    }

                    &.backg {
                        color: var(--lcp-confirm-color);
                    }
                }
            }
        }
    }
}