.navs {
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    box-shadow: 0 2px 2px #ffffff32;

    &-content {
        display: flex;
        align-items: center;
        width: 60%;
        position: relative;
        padding: 0 50px;

        &-item {
            line-height: 60px;
            width: 100px;
            height: 60px;
            flex: 1 1 auto;
            color: #ffffff87;
            font-size: 12px;
            text-align: center;
            position: relative;
            cursor: pointer;
            text-shadow: 0 0 2px #217ad4;

            &:hover,
            &.active {
                font-size: 16px;
                color: #ffffff;
                font-weight: 700;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 16px;
                width: 2px;
                top: 20px;
                left: 99%;
                border-radius: 4px;
                background: #fff;
            }

            &:nth-last-child(1) {
                &::after {
                    content: none;
                }
            }
        }

    }

    &-drop {
        height: 60px;
        padding-left: 50px;

        &>.van-icon {
            font-size: 32px;
            color: #ffffff32;
            margin: 15px 0;
        }

        &-content {
            position: fixed;
            top: 60px;
            right: 0;
            left: 0;

            &-item {
                padding: 15px;
                background: rgba(255, 255, 255, 0.2);
                border-top: thin solid #efefef23;
                color: #ffffff87;
                font-size: 14px;

                &:nth-child(1) {
                    border-top: none;
                }

                &:hover,
                &.active {
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 700;
                }
            }
        }
    }
}