.navs {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 999;

    &-content {
        display: flex;
        align-items: center;
        width: 90%;
        position: relative;
        padding: 0 50px;
        margin: 0 auto;

        &-item {
            line-height: 60px;
            width: 100px;
            height: 60px;
            flex: 0 1 auto;
            color: #d6e4f0;
            font-size: 12px;
            text-align: center;
            position: relative;
            cursor: pointer;

            &:hover,
            &.active {
                font-size: 16px;
                font-weight: 700;
            }
        }

    }

    &-drop {
        height: 60px;
        padding-left: 50px;

        &>.van-icon {
            font-size: 32px;
            color: var(--lcp-n-color);
            margin: 15px 0;
        }

        &-content {
            position: fixed;
            top: 60px;
            right: 0;
            left: 0;

            &-item {
                padding: 15px;
                background: var(--lcp-n-bg-color);
                font-size: 14px;
                color: var(--lcp-n-color);

                &:nth-child(1) {
                    border-top: none;
                }

                &:hover,
                &.active {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }

    &-user {
        position: absolute;
        right: 20px;
        top: 12px;
        & > button{
            background: none;
            border-radius: 20px;
            border: thin solid #1e56a0;
            padding: 0 30px;
            font-size: 12px;
            cursor: pointer;
            color: #fff;
            height: 35px;
            line-height: 35px;
            margin-right: 10px;
            &:hover {
                color: #d6e4f0;
                box-shadow: 0 0 4px #163172;
            }
        }

        &-info {
            &>img {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                vertical-align: middle;
                margin: -2px 10px 0 0;
            }
        }
    }
}