.workbenches{
    height: 100vh;
    width: 100vw;
    background: #d6e4f0;
    position: relative;
    & > .container{
        height: 500px;
        width: 256px;
        background-color: #f6f6f6;
        border: thin solid #163172;
    }
    .positionCenter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.left{
            left:20px;
    width: 256px;
    height: 90vh;
        }
        &.right{
            right:20px;
    width: 256px;
    height: 90vh;
        }

    }
}