.home{
  width: 100vw;
  background-color: #d6e4f0;
    &-search{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-content{
            height: 40px;
            width: 50%;
            background: none;
            border: thin solid #d6e4f0;
            box-shadow: 0 0 10px #163172;
            border-radius: 20px;
            color: #f6f6f6;
            font-weight: 500;
            display: flex;

            & > input{
                border: none;
                width: 100px;
                padding: 2px 20px;
                font-size: 16px;
                background: none;
                flex: 1 1 auto;
            }
            & >button{
                background: none;
                border: none;
                font-size: 16px;
                width: 60px;
                flex: 0 0 auto;
                cursor: pointer;
                &:hover{
                    color:#d6e4f0;
                }
            }
        }
    }
    &-row{
        min-height: calc(100vh - 400px);
        &-title{
            font-size: 20px;
            color: #1e56a0;
            padding: 20px 20px 0;
            line-height: 50px;
            text-align: center;
        }
        &-content{
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
            font-size: 12px;
            padding: 10px;
            &-item{
                padding: 10px;
                flex: 0 0 auto;
            }
        }
    }
}